.processSection {
    background: url('../../../images/nochess.jpg');
    background-size: 995px 898px;
    background-position: left;
    background-repeat: no-repeat;
    margin-left: 350px;
}

.content-section {
    padding-left: 600px;
}

.content-section h1 {
    font-size: 50px;
}

.content-section p {
    font-size:  20px;
    font-weight: 550;
    background-color: rgba(231, 76, 60, 0.5);
    border-radius: 15px;
}

.drop-cap {
    font-size: 50px;
    color: var(--primary-color);
}