.examplesContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.examplesText {
  background: var(--back-color);
}

.textBlock {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.textBlock p {
    color: var(--text-light);
}