.features {
  padding: 60px 0;
  background-color: var(--back-color);
  text-align: center;
}

.features h3 {
  font-weight: 400;
  font-size: 36px;
}

.features h2 {
  font-size: 64px;
  font-weight: 500;
}

.features img {
  width: 405px;
  height: 405px;
}

.feature-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  margin-top: 40px;
}

.feature-card {
  background: var(--back-color);
  border-radius: 8px;
  text-align: left;
  min-width: 405px;
  padding: 30px;
  box-sizing: border-box;
}

.feature-card h3 {
  font-size: 24px;
  font-weight: 500;
}

.feature-card p {
  color: var(--text-light);
  font-weight: 400;
  font-size: 24px;
}

.learn-more {
  color: var(--secondary-color);
  font-weight: 600;
  text-decoration: none;
  display: inline-block;
  margin-top: 15px;
}