.language-switcher {
    display: flex;
    gap: 10px;
  }
  
  .language-switcher button {
    padding: 5px 10px;
    border: 1px solid #ccc;
    background: var(--back-color);
    cursor: pointer;
  }
  
  .language-switcher button:hover {
    background: var(--back-color);
  }