.story {
    display: flex;
}

.story img {
    width: 600px !important;
    height: auto !important;
}

.story h3 {
    color: var(--primary-color);
    font-weight: 400;
    font-size: 24px;
}

.story h2 {
    font-weight: 600;
    font-size: 40px;
}

.story p {
    font-weight: 400;
    font-size: 24px;
}

.story button {
    color: var(--primary-color);
    font-size: 24px;
    font-weight: 600;
    cursor: pointer;
    border: none;
}

.story button:hover {
    color: var(--secondary-color);
    transition: background-color 0.3s;
}

.text-container {
    position: relative;
    overflow: hidden;
    min-height: 400px;
}

.text-content-story {
    position: absolute;
    width: 100%;
    transition: transform 0.5s ease, opacity 0.5s ease;
    opacity: 0;
    transform: translateX(100%);
}

.text-content-story.active {
    opacity: 1;
    transform: translateX(0);
    position: relative;
}

.text-content-story.exiting {
    opacity: 0;
    transform: translateX(-100%);
}

.text-content-story.entering {
    opacity: 1;
    transform: translateX(0);
}